<div class="<%= flash_css_class %>" <%= tag.attributes controller_data_attributes %>>
  <span class="flash-message"><%= message %></span>
  <button class="flash-close" data-action="click->flash#close" type="button" aria-label="Close flash message">
    ×
  </button>
</div>